<div class="container">
  <form action="/tweets" method="post">
    <p>Enter a Tweet:</p>
    <input id='tweet-input' type="text" name="tweet">
    <input id='tweet-submit' type="submit" value="Submit">
  </form>
  <span id="message"></span>
</div>
